* {
    box-sizing: border-box;
}

html { 
    font-size: 62.5%; 
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
}

/* Basic Typography styling */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; 
}

h1 { 
    font-size: 4.0rem; 
    line-height: 1.2;  
    letter-spacing: -.1rem;
}
h2 { 
    font-size: 3.6rem; 
    line-height: 1.25; 
    letter-spacing: -.1rem; 
}

h3 { 
    font-size: 3.0rem; 
    line-height: 1.3;  
    letter-spacing: -.1rem; 
}       

h4 {
    font-size: 2.4rem; 
    line-height: 1.35; 
    letter-spacing: -.08rem; 
}

h5 { 
    font-size: 1.8rem; 
    line-height: 1.5;  
    letter-spacing: -.05rem; 
}

h6 { 
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0; 
}

p { 
    margin-top: 0; 
}
/* end typography styling */


/* Application styles */
@media only screen and (min-width: 376px) {
    .app {
        width: 50%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 375px) {
    .app {
        padding: 20px;
    }
}

.reply-form {
    margin: 0 auto;
}

.reply-preview {
    height: 200px;
}

.reply-text-area {
    height: 200px;
    padding: 8px;
    resize: none;
    width: 100%;
}

.reply-text-area:focus {
    outline: none;
}

.reply-text-area, .reply-preview {
    border: 1px solid grey;
}

.reply-preview {
    margin: 0 0 8px 0;
    overflow-y: scroll;
    padding: 8px;
    resize: vertical;
    word-wrap: break-word;
}

.reply-word-count {
    text-align: right;
}

button {
    margin-right: 8px;
}